body { 
    background-color: #EDBB99;
}

.title {
    margin-bottom: 15px;
}

nav {
    float: left;
    background-color: #E59866;
    padding-left: 15px;
    width: 200px;
}

.contenido {
    float: left;
    background-color: #E59866;
    height: 300px;
    
}

footer {
    clear: both;
    text-align: center;
    margin-top: 20px;
    background-color: #873600;
}