main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.targeta {
    box-shadow: 5px 5px 5px rgba(108, 108, 108, 0.409);
    margin: 10px;
    
    transition: all 150ms;
}

.targeta:hover {
    transform: scale(1.05);
}

img {
    height: 300px;
    width: 330px;
}
