body { 
    background-color: #EDBB99;
}

.title {
    margin-bottom: 15px;
}

.menu {
    float: left;
    background-color: #E59866;
    padding-left: 15px;
    width: 200px;
}

.contenido {
    float: left;
    background-color: #E59866;
    padding-left: 15px;
    height: 350px;
    
}

footer {
    clear: both;
    text-align: center;
    margin-top: 20px;
    background-color: #873600;
}

.c1 {
    width: 200px;
    height: auto;
    float: left;
    padding: 10px;
}

img {
    width: 200px;
    height: 150px;
}

.text-casa {
    text-align: center;
}